* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 10px;
    background-color: red;
}

.nav-group {
    display: flex;
}

.nav-group li a {
    margin: 0 20px;
    text-decoration: none;
}

.showcase {
    height: 500px;
    width: 100%;
    background-image: url("./images/photo-1514933651103-005eec06c04b.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-showcase {
    color: white;
    background-color: black;
    font-size: 80px;
    padding: 20px;
    border-radius: 6px;
}

.menu-btn {
    margin-top: 20px;
    padding: 30px 80px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: aqua;
}

.menu-btn a {
    text-decoration: none;
}