* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    background-color: #000;
    color: #ff6347;
    width: 100%;
}

.logo {
    padding: 12px;
    border: 1px solid white;
    border-radius: 3px;
    border-top-right-radius: 18px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 10px;
}

.nav-group {
    display: flex;
}

.nav-group li a {
    margin: 0 20px;
    text-decoration: none;
    color: #ff6347;
}

#hamburger {
    display: none;
}

#hamburger:hover {
    cursor: pointer;
}

.showcase {
    height: 90vh;
    width: 100%;
    background-image: url("./images//photo-1513104890138-7c749659a591.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 64px;
}

.logo-showcase {
    color: #fff;
    background-color: black;
    font-size: 80px;
    padding: 20px;
    border-radius: 6px;
    border-top-right-radius: 50px;
}

.logo-subheading {
    margin-top: -30px;
    font-size: 14px;
    font-style: italic;
    color: #FFF;
}

.menu-btn {
    margin-top: 20px;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color: #ff6347;
}

.menu-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #ff6347;
}

.menu-btn a {
    text-decoration: none;
}

h2 {
    color: #ff6347;
    font-size: 40px;
    font-weight: 900;
}

.about-section {
    display: flex;
    height: auto;
    width: 100%; 
}

.about-description {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    color: #222;
    flex: 1;
    border: 2px solid #ff6347;
    font-size: 1rem;
    font-weight: 100;
    padding: 20px;
}

.about-description p {
    margin: 0 auto;
    width: 50%;
}

.about-section img {
    width: 100%;
    height: 100%;
}

.about-photo {
    flex: 1;
    border: 2px solid #ff6347;
}

/* Private Events */
.private-events-img {
    background: url(./images/photo-1544880047-1966fc792a37.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.private-events-img h2 {
    color: #fff;
}

.book-event {
    padding: 14px;
    background-color: #fff;
    color: #ff6347;
}

.book-event:hover {
    color: #fff;
    background-color: #ff6347;
    cursor: pointer;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.links-container {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 60%;
    margin: 0 auto;
}

footer p {
    font-size: 12px;
    margin-top: -10px;
    text-align: center;
}

.social-icons {
    margin-top: -12px;
}

.social-icons i {
    padding: 6px;
}

.social-icons i:hover {
    cursor: pointer;
}

/* Change menu for mobile */
@media only screen and (max-width: 415px) {
    .nav-group a {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

@media only screen and (max-width: 765px) {
    .links-container {
        flex-direction: column;
    }

    .social-icons {
        margin: 20px auto;
    }

    .about-section {
        flex-direction: column;
    }
}