* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    background-color: #000;
    color: #ff6347;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 10px;
}

.nav-group {
    display: flex;
}

.nav-group li a {
    margin: 0 20px;
    text-decoration: none;
    color: #ff6347;
}

.showcase {
    height: 100vh;
    width: 100%;
    background-image: url("./images//photo-1513104890138-7c749659a591.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 64px;
}

.logo-showcase {
    color: #fff;
    background-color: black;
    font-size: 80px;
    padding: 20px;
    border-radius: 6px;
    border-top-right-radius: 50px;
}

.logo-subheading {
    margin-top: -30px;
    font-size: 14px;
    font-style: italic;
    color: #FFF;
}

.review-section {
    width: 50%;
    margin: 0 auto;
}

.review-section h2{
    text-align: center;
}
/* Carasoul styling */
 /* Slideshow container */
 .slideshow-container {
    position: relative;
    background: #fff;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #000;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
q {
    font-style: italic;
    font-size: 40px;
}
  /* Add a blue color to the author */
  .author {color: cornflowerblue;} 

.menu-btn {
    margin-top: 20px;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color: #ff6347;
}

.menu-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #ff6347;
}

.menu-btn a {
    text-decoration: none;
}

h2 {
    color: #ff6347;
    font-size: 40px;
}

.about-section {
    margin-bottom: 50px;
    display: flex;
}

.about-description {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #444444;
    flex: 1;
}

.about-section img {
    flex: 1;
}

.hours-section {
    padding: 30px;
    margin-bottom: 50px;
}

.hours-description {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.links-container {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 60%;
    margin: 0 auto;
}

footer p {
    font-size: 12px;
    margin-top: -10px;
    text-align: center;
}

.social-icons {
    margin-top: -12px;
}

.social-icons i {
    padding: 6px;
}

/* add a carousel of reviews */


/* Change menu for mobile */
/* @media only screen and (max-width: 415px) {
    nav ul {
        display: none;
    }
} */

@media only screen and (max-width: 765px) {
    .links-container {
        flex-direction: column;
    }

    .social-icons {
        margin: 20px auto;
    }
}